canvas,
.pdfannotate-canvas-container {
  margin-bottom: 25px;
}

.pdfannotate-canvas-container {
  margin-left: auto;
  margin-right: auto;
}

.pdfannotate-page-container {
  display: grid;
  justify-items: center;
}

.pdfannotate-pdf-canvas,
.pdfannotate-fabric-canvas {
  grid-column: 1;
  grid-row: 1;
}

.pdfannotate-locked {
  pointer-events: none;
}
